# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json

# Learn more about building a configuration: https://promptfoo.dev/docs/configuration/guide

description: "Evaluates the outputs of different LLM providers on Java code test cases"

prompts: file://system_prompt/sys_prompt.json

x-shared-config: &shared_config
  temperature: 0.3
  max_tokens: 100
  
providers: 
  - id: anthropic:messages:claude-sonnet-4-5-20250929
    config:
      <<: *shared_config
  - id: anthropic:messages:claude-opus-4-5-20251101
    config:
      <<: *shared_config
  - id: openai:gpt-5.2
    config:
      <<: *shared_config
  - id: openai:gpt-5.1
    config:
      <<: *shared_config
  - id: google:gemini-3-pro-preview
    config:
      <<: *shared_config
  - id: google:gemini-3-flash-preview
    config:
      <<: *shared_config
  - id: google:gemini-2.5-pro
    config:
      <<: *shared_config
  - id: groq:llama-3.3-70b-versatile
    config:
      <<: *shared_config
  - id: groq:meta-llama/llama-4-scout-17b-16e-instruct
    config:
      <<: *shared_config
  - id: mistral:mistral-large-latest
    config:
      <<: *shared_config
  - id: mistral:codestral-latest
    config:
      <<: *shared_config
  - id: xai:grok-4-1-fast
    config:
      <<: *shared_config
  - id: xai:grok-4-latest
    config:
      <<: *shared_config
  - id: deepseek:deepseek-chat
    config:
      <<: *shared_config
  - id: deepseek:deepseek-reasoner
    config:
      <<: *shared_config
  - id: alibaba:qwen3-max
    config:
      <<: *shared_config
  - id: alibaba:qwen3-coder-plus
    config:
      <<: *shared_config

# defaultTest:
#   - options:
#       rubricPrompt: file://system_prompt/rubric_prompt.json

tests:
  - description: "Tests all providers on Java code test cases and evaluates them using a rubric"
    vars:
      context: file://test_cases/java_case_*.json
    assert:
      - type: llm-rubric
        value: 
        - "Check if output is correct, mark it as 'GOOD' or 'BAD'"
        - file://test_cases/java_case_*.expected.json
