# LLM API KEYS
API_GEMINI=your_gemini_api_key
API_AZURE=your_azure_api_key

ANTHROPIC_API_KEY=your_anthropic_api_key
OPENAI_API_KEY=your_openai_api_key
GOOGLE_API_KEY=your_google_api_key
GROQ_API_KEY=your_groq_api_key
MISTRAL_API_KEY=your_mistral_api_key
XAI_API_KEY=your_xai_api_key
DEEPSEEK_API_KEY=your_deepseek_api_key
DASHSCOPE_API_KEY=your_dashscope_api_key

# REDIS
REDIS_ENDPOINT=redis://username:password@localhost:6379
REDIS_PORT=6379

# DB
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
ASYNC_DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/database_name
DB_PORT=5432

# JWT
JWT_SECRET_KEY=your-super-secret-jwt-key

# FASTAPI
FASTAPI_PORT=8000
