# App Environment
APP_ENV=dev
FASTAPI_PORT=8000
JWT_SECRET_KEY=""


# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
ASYNC_DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/postgres"
DB_PORT=5432


# Redis
QUEUE_NAMESPACE="jsg.v1"
REDIS_ENDPOINT="redis://redis:6379"
REDIS_PORT=6379


# Main Job Queue
MAIN_QUEUE="MainJobQueue"
MAIN_MAX_CONCURRENCY=5


# OCR
AZURE_OCR_ENDPOINT="https://gpfirsttrydoc.cognitiveservices.azure.com/"
API_AZURE=""
API_GOOGLE_VISION=""
OCR_QUEUE="OCRJobQueue"
OCR_MAX_CONCURRENCY=5


# Corrector Model
GEMINI_MODEL="gemini-3.1-flash-lite-preview"


# Sandbox
SANDBOX_QUEUE="SandboxJobQueue"
SANDBOX_MAX_CONCURRENCY=5


# AI Grader
AI_GRADING_QUEUE="AIGradingJobQueue"
API_KEY=""
MODEL=""
AI_GRADING_MAX_CONCURRENCY=5


# Storage
STORAGE_BACKEND=s3
S3_ENDPOINT_URL=https://s3.eu-north-1.amazonaws.com
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=""
S3_REGION=eu-north-1
